/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    color: #004d99;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea, select {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

textarea {
    height: 100px;
    resize: none;
}

button, .botao-respostas {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover, .botao-respostas:hover {
    background-color: #005bb5;
}

.botao-enviar {
    width: 100%;
    margin-top: 10px;
}

.botao-respostas {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }
}
